body{
    margin: 0;
    background-color: white;
}
.login{
    height: 80vh;
    width: 70vw;
    border: 1px solid black;
    margin: 5rem auto;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 4);
    overflow-x: hidden;
    display: flex;
}
.left{
    height: 80vh;
    width: 21vw;
    background-color: aliceblue;
    background-image: url("/895abbb73c329e4a0e265e503af45ca2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.between{
    height: 80vh;
    width: 21vw;
    background-image: url("/FGA__KCWUAUrHFu.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px gray;
}
.username{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.username h3{
    margin-bottom: 100px;
    font-weight: 50px;
    font-size: 35px;
}
.card1{
    border: 1px solid chocolate;
    height: 40vh;
    width: 21vw;
    box-shadow: 6px 6px chocolate;
}
.home li{
    list-style-type: none;
    display: flex;
    margin-left: 85%;
}
.home li a{
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: 550;
    display: block;
    padding: 5px 35px;
    color: black;
    text-decoration: none;
    filter: drop-shadow(6px 6px 5px gray);
}
button{
    width: 60px;
    height: 30px;
    margin-top: 8px;
    color: black;
    border: none;
    background-color: burlywood;
}
.forget{
    margin-top: 1px;
    list-style: none;
    font-size: small;
}
p{
    margin-top: 5px;
}
.signup{
    margin-top: 3px;
    list-style: none;
    font-size: medium;
}
.signup a{
    text-decoration: none;
    color: brown;
}

